/* GENERAL */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, sans-serif;
}

body{
line-height:1.6;
}


/* NAVBAR */

.navbar-nav .nav-link {
  transition: 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ffc107; /* gold hover */
}

.navbar .btn-outline-light:hover {
  background-color: #fff;
  color: #000;
}

.navbar .btn-warning:hover {
  background-color: #e0a800;
}

/* INPUT MOBILE PHONE */

.phone-input-wrapper {
  position: relative;
  width: 100%;
}

.phone-input-wrapper .iti,
.phone-input-wrapper .iti__container {
  width: 100% !important;
  display: block !important;
}

.phone-input-wrapper .iti__flag-container {
  top: 50%;
  transform: translateY(-50%);
}




/* ===== BOOKING FORM ===== */
.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

.btn-custom {
    background-color: #000;
    color: #fff;
    border: none;
}

.btn-custom:hover {
    background-color: #e0a800;
    color: #ffff;
	border: 0.5px solid #E0A800
}

.container.mt-5 {
    padding-bottom: 80px; /* ensures space between last button and footer */
}

/* PAYMENT CHECK OPTION */

.payment-option {
    transition: 0.3s ease;
    background-color: #f8f9fa; /* light gray card background */
}

.payment-option:hover {
    background-color: #fff; /* gold hover */
    color: #000000;
}

.payment-option input[type="radio"] {
    accent-color: #000000; /* makes the radio dot color black */
}
/* ===== SUCCESS ANIMATION ===== */
.success-message {
    display: none;
    color: #e0a800;
    font-weight: bold;
    margin-top: 15px;
    animation: popIn 0.6s ease forwards;
}

.error-message {
    color: #8A360F;
    font-size: 14px;
}

/* FOOTER */

body{
line-height:1.6;
min-height:100vh;
display:flex;
flex-direction:column;
}

footer{
background:#000;
color:white;
text-align:center;
padding:20px;
margin-top:auto;
}


/* RESPONSIVE */

@media(max-width:768px){

nav{
flex-direction:column;
}

nav ul{
margin-top:10px;
flex-direction:column;
align-items:center;
}

nav ul li{
margin:10px 0;
}

.hero h2{
font-size:35px;
}

}