*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto","Poppins", sans-serif;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-image: url('../img/hotel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* login */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    border: 2px solid rgba(244, 247, 251, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    height: 450px;
    width: 430px;
    background-color: rgb(255,255,255,0.3);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.container .login h2{
    text-align: center;
    color: black;
    font-size: 2.5rem;
}

.form-input{
  height: 50px;
  /* border-bottom: 2px solid #9ad2fc; */
  border-bottom: 2px solid black;
  margin: 30px 0;
  position: relative;
}
.form-input input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    font-weight: 600;
    color: aliceblue;
    z-index: 2;
}

.form-input label{
    position: absolute;
    top: 50%;
    left: 0;
    /* color: rgb(134, 252, 219); */
    color: black;
    font-weight: bold;
    pointer-events: none;
    transition: 0.5s;
    z-index: 1;
}
.form-input input:not(:placeholder-shown) ~ label,
.form-input input:focus ~ label{
  top: -10px;
}
.form-input .iconfont{
    position: absolute;
    top: 30%;
    font-size: 1.5rem;
    right: 5px;
    /* color: rgb(222, 227, 224); */
    color: black;
}
.icon-btn{
    position: absolute;
    top: 30%;
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
}
input[type="checkbox"]{
    margin-right: 5px;
}
.remember-forget {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    margin: -10px 0px 20px;
    color: rgb(16, 18, 17);
}
a{
    color: black;
}
a:hover{
    color: rgb(54, 235, 193);
    text-decoration: underline;
}
.register-btn,.login-btn,.reset-btn{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    /* background-color: #9ad2fc; */
    background-color: black;
}

.bottom-register-p{
    text-align: center;
    margin-top: 25px;
}
.bottom-register-p a{
    margin-left: 5px;
    text-decoration: underline;

}


/* register */
.register h2{
    text-align: center;
    margin-top: 10px;
    font-size: 2.5rem;
}
.terms{
    margin-top: -20px;
    margin-bottom: 15px;
}
.bottom-login-p{
    text-align: center;
    margin-top: 20px;
}
.username-limit{
    color: #fff;
    font-weight: 400;
    font-size: 1rem; 
}


/* Switch between registration and login */
/* add active class,login page hide,register page display */
.container .login{
    width: 100%;
    padding: 40px;  
    transform: translateX(0px);
    transition: transform 0.3s linear;
}
.container.active .login{
    transform: translateX(-400px);
    transition: none;
}
.container .register{
    width: 100%;
    padding: 40px; 
    position: absolute;
    transform: translateX(400px);
    transition: none;
}
.container.active .register{
    transform: translateX(0px);
    transition: transform linear 0.3s;
}
.container.active{
    height: 500px;
}

/* reset password */
.reset-password h2{
    text-align: center;
}
.reset-password .backlogin{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.reset-password .form-input{
    margin: 30px 0;
}
.reset-btn{
    margin: 20px 0;
}

.container .reset-password{
    width: 100%;
    padding: 40px;
    position: absolute;
    transition: none;
    transform: translateY(600px);
}
.container.reset .reset-password{
    transform: translateY(0px);
    transition: none;
    height: 400px;
}
.container.reset .login{
    transform: translateX(-400px);
    transition: none;
}